VITE_SUPABASE_URL="https://mhqnqbkbftbqjzowhmbl.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1ocW5xYmtiZnRicWp6b3dobWJsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAwNDMyMzIsImV4cCI6MjA5NTYxOTIzMn0.vzz0ZcsxXs--2VmxFesV1_vwsH50o22n4Gr8jjEm7hU"
